[Desktop Entry]
Name=e1547
Comment=A sophisticated e621 browser
Exec=e1547
Icon=e1547
Terminal=false
Type=Application
Categories=Graphics;Viewer;
StartupWMClass=net.e1547
